---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title="Mercury">
  <main>
    <section class="planet-information-section">
      <div class="planet-img-wrapper">
        <img src="/images/planet-mercury.svg" alt="planet-mercury" />
      </div>
      <div class="information-wrapper">
        <div class="information-intro-wrapper">
          <h1 class="information-main-heading">Mercury</h1>
          <p class="information-main-paragraph">
            Mercury is the smallest planet in the Solar System and the closest
            to the Sun. Its orbit around the Sun takes 87.97 Earth days, the
            shortest of all the Sun's planets. Mercury is one of four
            terrestrial planets in the Solar System, and is a rocky body like
            Earth.
          </p>
          <div class="wikipedia-link-source-wrapper">
            <p class="wikipedia-source-title">Source :</p>
            <a
              class="wikipedia-link"
              href="https://en.wikipedia.org/wiki/Mercury_(planet)">Wikipedia</a
            >
            <img
              class="wikipedia-link-"
              src="/images/icon-source.svg"
              alt="icon-source"
            />
          </div>
        </div>
        <div class="more-information-pages-list-wrapper">
          <div class="more-information-pages-link-wrapper">
            <a class="page-link" href="/">
              <span class="page-number">01</span>
               OVERVIEW
            </a>
          </div>
          <div class="more-information-pages-link-wrapper">
            <a class="page-link" href="/components/MercuryInternal.astro/">
              <span class="page-number">02</span>
               Internal Structure
            </a>
          </div>
          <div class="more-information-pages-link-wrapper">
            <a class="page-link" href="/components/MercurySurface.astro/">
              <span class="page-number">03</span>
               Surface Geology
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="accurate-numbers-section">
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Rotation Time</h2>
      <p class="accurate-numbers-paragraph">58.6 Days</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Revolution Time</h2>
      <p class="accurate-numbers-paragraph">87.97 Days</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Radius</h2>
      <p class="accurate-numbers-paragraph">2,439.7 KM</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Average Temp.</h2>
      <p class="accurate-numbers-paragraph">430°c</p>
    </div>
  </footer>
</Layout>
