---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title="Mars" />
<main>
  <section class="planet-information-section">
    <div class="planet-img-wrapper">
      <img src="/public/images/planet-mars-internal.svg" alt="planet-masr" />
    </div>
    <div class="information-wrapper">
      <div class="information-intro-wrapper">
        <h1 class="information-main-heading">Mars</h1>
        <p class="information-main-paragraph">
          Like Earth, Mars has differentiated into a dense metallic core
          overlaid by less dense materials. Scientists initially determined that
          the core is at least partially liquid. Current models of its interior
          imply a core consisting primarily of iron and nickel with about 16–17%
          sulfur.
        </p>
        <div class="wikipedia-link-source-wrapper">
          <p class="wikipedia-source-title">Source :</p>
          <a
            class="wikipedia-link"
            target="_blank"
            href="https://en.wikipedia.org/wiki/Mars#Internal_structure"
            >Wikipedia</a
          >
          <img
            class="wikipedia-link"
            src="/images/icon-source.svg"
            alt="icon-source"
          />
        </div>
      </div>
      <div class="more-information-pages-list-wrapper">
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/mars">
            <span class="page-number">01</span>
             OVERVIEW
          </a>
        </div>
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/mars-internal-structure/">
            <span class="page-number">02</span>
             Internal Structure
          </a>
        </div>
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/mars-surface-geology/">
            <span class="page-number">03</span>
             Surface Geology
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer class="accurate-numbers-section">
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Rotation Time</h2>
      <p class="accurate-numbers-paragraph">1.03 Days</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Revolution Time</h2>
      <p class="accurate-numbers-paragraph">1.88 Years</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Radius</h2>
      <p class="accurate-numbers-paragraph">3,389.5 KM</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Average Temp.</h2>
      <p class="accurate-numbers-paragraph">-28°c</p>
    </div>
  </footer>
</main>
