---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title="Mercury">
  <main>
    <section class="planet-information-section">
      <div class="planet-img-wrapper relative">
        <img src="/images/planet-mercury.svg" alt="planet-mercury" />
        <img
          class="w-36 absolute -bottom-24 left-20"
          src="/images/geology-mercury.png"
          alt="geology-mercury"
        />
      </div>
      <div class="information-wrapper">
        <div class="information-intro-wrapper">
          <h1 class="information-main-heading">Mercury</h1>
          <p class="information-main-paragraph">
            Mercury's surface is similar in appearance to that of the Moon,
            showing extensive mare-like plains and heavy cratering, indicating
            that it has been geologically inactive for billions of years. It is
            more heterogeneous than either Mars's or the Moon’s.
          </p>
          <div class="wikipedia-link-source-wrapper">
            <p class="wikipedia-source-title">Source :</p>
            <a
              class="wikipedia-link"
              target="_blank"
              href=" https://en.wikipedia.org/wiki/Mercury_(planet)#Surface_geology"
              >Wikipedia</a
            >
            <img
              class="wikipedia-link"
              src="/images/icon-source.svg"
              alt="icon-source"
            />
          </div>
        </div>
        <div class="more-information-pages-list-wrapper">
          <div class="more-information-pages-link-wrapper">
            <a class="page-link" href="/">
              <span class="page-number">01</span>
               OVERVIEW
            </a>
          </div>
          <div class="more-information-pages-link-wrapper">
            <a class="page-link" href="/mercury-internal-structure/">
              <span class="page-number">02</span>
               Internal Structure
            </a>
          </div>
          <div class="more-information-pages-link-wrapper">
            <a class="page-link" href="/mercury-surface-geology/">
              <span class="page-number">03</span>
               Surface Geology
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="accurate-numbers-section">
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Rotation Time</h2>
      <p class="accurate-numbers-paragraph">58.6 Days</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Revolution Time</h2>
      <p class="accurate-numbers-paragraph">87.97 Days</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Radius</h2>
      <p class="accurate-numbers-paragraph">2,439.7 KM</p>
    </div>
    <div class="number-box">
      <h2 class="accurate-numbers-heading">Average Temp.</h2>
      <p class="accurate-numbers-paragraph">430°c</p>
    </div>
  </footer>
</Layout>
