---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title="Saturn" />
<main>
  <section class="planet-information-section">
    <div class="planet-img-wrapper">
      <img
        src="/public/images/planet-saturn-internal.svg"
        alt="planet-saturn"
      />
    </div>
    <div class="information-wrapper">
      <div class="information-intro-wrapper">
        <h1 class="information-main-heading">Saturn</h1>
        <p class="information-main-paragraph">
          Despite consisting mostly of hydrogen and helium, most of Saturn's
          mass is not in the gas phase, because hydrogen becomes a non-ideal
          liquid when the density is above 0.01 g/cm3, which is reached at a
          radius containing 99.9% of Saturn's mass.
        </p>
        <div class="wikipedia-link-source-wrapper">
          <p class="wikipedia-source-title">Source :</p>
          <a
            class="wikipedia-link"
            target="_blank"
            href=" https://en.wikipedia.org/wiki/Saturn#Internal_structure "
            >Wikipedia</a
          >
          <img
            class="wikipedia-link"
            src="/images/icon-source.svg"
            alt="icon-source"
          />
        </div>
      </div>
      <div class="more-information-pages-list-wrapper">
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/saturn">
            <span class="page-number">01</span>
             OVERVIEW
          </a>
        </div>
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/saturn-internal-structure/">
            <span class="page-number">02</span>
             Internal Structure
          </a>
        </div>
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/saturn-surface-geology/">
            <span class="page-number">03</span>
             Surface Geology
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="accurate-numbers-section">
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Rotation Time</h2>
    <p class="accurate-numbers-paragraph">10.8 Hours</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Revolution Time</h2>
    <p class="accurate-numbers-paragraph">29.46 Years</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Radius</h2>
    <p class="accurate-numbers-paragraph">58,232 KM</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Average Temp.</h2>
    <p class="accurate-numbers-paragraph">-138°c</p>
  </div>
</footer>
