---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title="Uranus" />
<main>
  <section class="planet-information-section">
    <div class="planet-img-wrapper">
      <img
        src="/public/images/planet-uranus-internal.svg"
        alt="planet-uranus-internal"
      />
    </div>
    <div class="information-wrapper">
      <div class="information-intro-wrapper">
        <h1 class="information-main-heading">Uranus</h1>
        <p class="information-main-paragraph">
          The standard model of Uranus's structure is that it consists of three
          layers: a rocky (silicate/iron–nickel) core in the centre, an icy
          mantle in the middle and an outer gaseous hydrogen/helium envelope.
          The core is relatively small, with a mass of only 0.55 Earth masses.
        </p>
        <div class="wikipedia-link-source-wrapper">
          <p class="wikipedia-source-title">Source :</p>
          <a
            class="wikipedia-link"
            target="_blank"
            href=" https://en.wikipedia.org/wiki/Uranus#Internal_structure"
            >Wikipedia</a
          >
          <img
            class="wikipedia-link"
            src="/images/icon-source.svg"
            alt="icon-source"
          />
        </div>
      </div>
      <div class="more-information-pages-list-wrapper">
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/uranus">
            <span class="page-number">01</span>
             OVERVIEW
          </a>
        </div>
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/uranus-internal-structure/">
            <span class="page-number">02</span>
             Internal Structure
          </a>
        </div>
        <div class="more-information-pages-link-wrapper">
          <a class="page-link" href="/uranus-surface-geology/">
            <span class="page-number">03</span>
             Surface Geology
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="accurate-numbers-section">
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Rotation Time</h2>
    <p class="accurate-numbers-paragraph">17.2 Hours</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Revolution Time</h2>
    <p class="accurate-numbers-paragraph">84 Years</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Radius</h2>
    <p class="accurate-numbers-paragraph">25,362 KM</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Average Temp.</h2>
    <p class="accurate-numbers-paragraph">-195°c</p>
  </div>
</footer>
