---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title="Venus" />
<main>
  <section class="planet-information-section">
    <div class="planet-img-wrapper relative">
      <img src="/images/planet-venus.svg" alt="planet-venus" />
      <img
        class="w-36 absolute -bottom-24 left-20"
        src="/images/geology-venus.png"
        alt=""
      />
    </div>
    <div class="information-wrapper">
      <div class="information-intro-wrapper">
        <h1 class="information-main-heading">Venus</h1>
        <p class="information-main-paragraph">
          Much of the Venusian surface appears to have been shaped by volcanic
          activity. Venus has several times as many volcanoes as Earth, and it
          has 167 large volcanoes that are over 100 km (60 mi) across. The only
          volcanic complex of this size on Earth is the Big Island of Hawaii.
        </p>
        <div class="wikipedia-link-source-wrapper">
          <p class="wikipedia-source-title">Source :</p>
          <a
            class="wikipedia-link"
            target="_blank"
            href="https://en.wikipedia.org/wiki/Venus#Surface_geology"
            >Wikipedia</a
          >
          <img
            class="wikipedia-link"
            src="/images/icon-source.svg"
            alt="icon-source"
          />
        </div>
      </div>
      <div class="more-information-pages-list-wrapper">
        <div class="more-information-pages-link-wrapper active:bg-clr-Tan-Hide">
          <a class="page-link" href="/venus">
            <span class="page-number">01</span>
             OVERVIEW
          </a>
        </div>
        <div class="more-information-pages-link-wrapper active:bg-clr-Tan-Hide">
          <a class="page-link" href="/venus-internal-structure/">
            <span class="page-number">02</span>
             Internal Structure
          </a>
        </div>
        <div class="more-information-pages-link-wrapper active:bg-clr-Tan-Hide">
          <a class="page-link" href="/venus-surface-geology/">
            <span class="page-number">03</span>
             Surface Geology
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="accurate-numbers-section">
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Rotation Time</h2>
    <p class="accurate-numbers-paragraph">243 Days</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Revolution Time</h2>
    <p class="accurate-numbers-paragraph">224.7 Days</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Radius</h2>
    <p class="accurate-numbers-paragraph">6,051.8 KM</p>
  </div>
  <div class="number-box">
    <h2 class="accurate-numbers-heading">Average Temp.</h2>
    <p class="accurate-numbers-paragraph">471°c</p>
  </div>
</footer>
