---
import "@/styles/global.css";
---

<header class="header-wrapper">
  <div class="logo-wrapper">
    <a class="logo-home-link" href="/">THE PLANETS</a>
  </div>
  <nav class="nav-wrapper">
    <ul class="list-wrapper">
      <li><a class="nav-links" href="/">mercury</a></li>
      <li><a class="nav-links" href="/venus">venus</a></li>
      <li><a class="nav-links" href="/earth">earth</a></li>
      <li><a class="nav-links" href="/mars">mars</a></li>
      <li><a class="nav-links" href="/jupiter">jupiter</a></li>
      <li><a class="nav-links" href="/saturn">saturn</a></li>
      <li><a class="nav-links" href="/uranus">uranus</a></li>
      <li><a class="nav-links" href="/neptune">neptune</a></li>
    </ul>
  </nav>
</header>
