---
import Header from "../components/Haeder.astro";
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Frontend Mentor | Planets fact site",
  description = "Frontend Mentor Project Using Astro & Tailwind",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/public/images/favicon-32x32.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;600;700&family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <Header />
  <slot />


</html>
